@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Roboto';
}

.modal-dimensions {
  min-width: 576px;
  min-height: 324px;
}

.method-card--button .method-card--button-label {
  @apply text-white mr-2 hidden;
}

.method-card--button:hover .method-card--button-label {
  @apply inline-block;
}

.methods-table--header > * {
  @apply py-2 pl-2 pr-6 overflow-hidden whitespace-nowrap overflow-ellipsis;
}

@screen sm {
  .methods-table--column__name {
    width: 27%;
  }

  .methods-table--column__notation {
    width: 25%;
  }

  .methods-table--column__bob {
    width: 16%;
  }

  .methods-table--column__single {
    width: 16%;
  }

  .methods-table--column__actions {
    width: 16%;
  }
}
