@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Roboto';
}

.method-card--button .method-card--button-label {
  @apply text-white mr-2 hidden;
}

.method-card--button:hover .method-card--button-label {
  @apply inline-block;
}

.methods-table--header > * {
  @apply py-2 pl-2 pr-6 overflow-hidden whitespace-nowrap overflow-ellipsis;
}

.form input {
  @apply w-72 block rounded ring-2 ring-gray-400 p-2 mb-2 text-black;
}

.form input.field-has-error {
  @apply w-72 block rounded ring-2 ring-red-600 mb-1 p-2 text-black;
}

.form label {
  @apply text-sm text-gray-600;
}

.form .form-error {
  @apply text-red-600 text-xs mb-2;
}

@screen sm {
  .methods-table--column__name {
    width: 27%;
  }

  .methods-table--column__notation {
    width: 25%;
    overflow-wrap: break-word;
  }

  .methods-table--column__bob {
    width: 16%;
  }

  .methods-table--column__single {
    width: 16%;
  }

  .methods-table--column__actions {
    width: 16%;
  }
}
