@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Roboto';
}

.method-card--button .method-card--button-label {
  @apply hidden mr-2 text-white;
}

.method-card--button:hover .method-card--button-label {
  @apply inline-block;
}

.methods-table--header > * {
  @apply py-2 pl-2 pr-6 overflow-hidden whitespace-nowrap overflow-ellipsis;
}

.form input, .form select {
  @apply block p-2 mb-2 text-black bg-transparent rounded w-72 ring-2 ring-gray-400;
}

.form input.field-has-error, .form select.field-has-error {
  @apply block p-2 mb-1 text-black rounded w-72 ring-2 ring-red-600;
}

.form label {
  @apply text-sm text-gray-600;
}

.form .form-error {
  @apply mb-2 text-xs text-red-600;
}

@screen sm {
  .methods-table--column__name {
    width: 27%;
  }

  .methods-table--column__notation {
    width: 25%;
    overflow-wrap: break-word;
  }

  .methods-table--column__bob {
    width: 16%;
  }

  .methods-table--column__single {
    width: 16%;
  }

  .methods-table--column__actions {
    width: 16%;
  }
}
