@import url("./calls.css");
@import url("./methods.css");
@import url("./composition.css");
@import url("./results.css");
@import url("./help.css");

body {
    background-color: #E0E0E0;
}

.compose-app {
    padding: 0;
}

.compose-tab {
    overflow-y: auto;
    max-height: calc(100vh - 48px);
    padding-left: 15px;
    padding-right: 15px;
}

h4 {
    font-size: 16px;
}

.tab-wrapper > div {
    overflow-y: auto;
}

.tab-compositions {
    min-width: 130px;
}

.tab-methods {
    min-width: 75px;
}

.tab-calls {
    min-width: 75px;
}

.tab-results {
    min-width: 75px;
}

.tab-help {
    min-width: 75px;
}