.text-field-composition-wrapper {
    padding: 15px;
}

.text-field-composition-label {
    vertical-align: top;
    margin-top: 15px;
    margin-left: 15px;
    display: inline-block;
    width: 120px;
}

.composition-multiline-text-field {
    padding-left: 15px;
}