.text-field-method-label {
    width: 120px;
    display: inline-block;
}

.method-button {
    padding: 15px;
}

.text-field-method-delete {
    display: inline-block;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
    width: 10px;
}

.text-field-method-wrapper {
    padding-left: 15px;
    padding-top: 15px;
    width: 100%;
}

.method-break {
    width: calc(100% + 15px);
    margin-top: 5px;
    margin-bottom: 5px; 
}

.text-field-method {
    margin-left: 15px;
}