.results-wrapper {
    padding: 15px;
}

.text-field-results-label {
    width: 140px;
    display: inline-block;
}

.text-field-changes-label {
    text-align: center;
    text-decoration: underline;
}

.group-heading {
    text-decoration: underline;
    padding-left: 15px;
}

.group-heading > h4 {
    font-weight: bold;
}

.important-changes-row {
    text-align: center;
    font-size: 16px;
}

.important-changes-row-header {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.grid-header {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.results-hr {
    margin: auto;
    width: 160px;
    border-color: black;
    border-width: 2px;
    padding: 2px;
}

.grid-row {
    text-align: center;
    font-size: 16px;
}

.grid-row-bell {
    padding: 2px;
}

.grid-column {
    margin-bottom: 70px;
}

.grid-highlighted-treble {
    color: red;
}

.grid-highlighted-bell {
    color: blue;
    font-weight: bold;
}

.grid-toggle {
    display: inline-block;
    vertical-align: bottom;
}

.grid-options-first {
    margin-top: 15px;
}

.text-field-results-grid-options-treble {
    width: 150px;
    display: inline-block;
    vertical-align: top;
}

.grid-selected-bell {
    display: inline-block;
}

.text-field-results-grid-options-inside {
    width: 150px;
    display: inline-block;
    padding-bottom: 25px;
    vertical-align: bottom;
}